<br>

<nav class="navbar navbar-expand-lg navbar-light bg-light bg-faded">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="dropdown show">
            <a class="nav-link dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Submissions 
              </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/etds/uploadPdf">New Submission</a>
                <a class="dropdown-item" href="">Pending Submissions</a>
                <a class="dropdown-item" href="/etds/viewsubmissions">Accepted Submissions</a>

            </div>
        </li>

        <li class="dropdown show">
            <a class="nav-link dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Profile
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/config/user/userprofile">Myprofile</a>
                <a class="dropdown-item" href="/config/user/updateprofile">Update profile</a>
                <a class="dropdown-item" href="/config/user/changepassword">Change password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="logout">Logout</a>
            </div>
        </li>



        <li class="dropdown show">
            <a class="nav-link dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Config
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="config">System users</a>
                <a class="dropdown-item" href="modelsettings">Model settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="irsettings">Institution repository settings</a>
            </div>
        </li>

        <div class="dropdown-divider"></div>

        <li class="nav-item">
            <a class="nav-link" href="help">Help</a>
        </li>
    </ul>
</nav>