<%- include("./partials/homeheader.ejs"); %>
    <h1>
        welcome!</h1>
    <p>

        <strong>To the smartIR depositor system<br>
     login or register below to get started!<br>
    <a href="/user/register">REGISTER</a><br>
    <a href="/user/login">LOGIN</a><br>
    </strong></p>
    <hr>