<!DOCTYPE html>
<html lang="en">
<head>

    
   
    <%- include ("../partials/navigation") %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Pdfs</title>
</head>
<h2><u>New Submission: File Upload</u></h2><hr>  
<body>
    <% if(typeof alert != 'undefined') { %>
        <% alert.forEach(function(error) { %>
           <div class='alert alert-warning alert-dismissible fade show' role="alert">
              <%= error.msg %>
              <button type='button' class='close' data-dismiss='alert' aria-label="Close">
                    <span aria-hidden="true">&times;</span>
              </button>
           </div>
       <% }) %>
     <% } %> 
   
    <div>
        <b><p>Please enter the name of the file on your local hard drive<br> corresponding to your item. If you click "Browse...",<br> a new window will appear in which you can locate and select the file on your local hard drive.</b></p><br><br><br>
        <form action="/etds/uploadPdf" method="post" enctype="multipart/form-data" required>
            

            <i class="fa fa-file-pdf-o" style="font-size:150px;"></i>

            <p> Select a file or drag and drop a file</p>
            <input type="file" name="file" id="pdf"><br><br><br>
            <label id="uploadsuccess"></label>
            <input onclick="document.getElementById('uploadsuccess')".innerHTML= 'Upload successful' type='submit' value='Next' for='pdf'>
            
            <p ></p> 
        </form>
       
    </div>
    
</div>

    
  

  
</body>
</html>