<br>
<%- include("../partials/dashbodheader.ejs"); %>
    <h1><strong>Dashboard</strong></h1>

    <p><strong>W</strong>elcome<strong>!</strong>
        <strong></strong>
    </p>

    <hr>


    <div class="list">
        <ul>
            <li><a href="submissions">submissions</a></li>



            <li>profile
                <ul>
                    <li><a href="userprofile/<%=id%>">My profile</a></li>
                    <li><a href="updateprofile">Update profile</a></li>
                    <li><a href="changepassword">Change password</a></li>
                    <li><a href="logout">Logout</a></li>
                </ul>

            </li>





            <li> <a href="config">view system users</a></li>
            <li><a href="help">help</a></li>
        </ul>

    </div>
    <br>
    <hr>
    <br>
    <br>
    <a href="newsubmission">Start new submissions </a>
    <br>
    <a href="pendingsubs">New pending submission </a>
    <br>
    <a href="acceptedsubs">View accepted submissions </a> <br>
    <br>