<table class="table">
     <tbody>

        <tr>
            <td>StudentID</td>
            <td>:</td>
            <td>

            </td>
        </tr>


         <tr>
            <td>Name</td>
            <td>:</td>
            <td>
                <%= use.name %>
            </td>

        </tr>

        <tr>
            <td>Email</td>
            <td>:</td>
            <td>
                <%= use.email %>
            </td>

        </tr>


    </tbody>
</table>


<br>
<a href="../dashboard">back-to-dashboard </a>